h1 {
    text-align: center;
    color: rgb(185, 182, 182);
    font-size: 50px;
    font-family: fantasy;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    text-align: center;
    color: rgb(243, 171, 171);
    font-size: 30px;
    font-family: fantasy;
}

  /* List element */
  li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }
  
  
  /* Element counter */
  li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 3rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    	background: linear-gradient(-25deg, #ff0000, #ff0055, #ff00ba, #d300ff, #3300ff, #00e3ff, #00ff35, #fffa00, #ff7d00, #ff0000, #d300ff );
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
body{
    background: linear-gradient(54deg, #070013, rgb(0, 14, 0),  #131313, rgb(17, 8, 8), #1d0000);
    background-size: 6000000% 100%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


   li{
    font-size: xx-large;
    color: rgb(243, 171, 171);
    font-family: cursive;
    }

li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}